<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<h1>Aplicação Piracui </h1>
<ion-button>
<ion-icon name="add-circle-outline" class="custom-icon" ></ion-icon>
</ion-button>
<p>Esta Aplicação esta Relacionada Como aplicação de Restaurantes de Peixaria, Piracui</p>

  
</ion-content>
