<ion-header>
  <ion-toolbar>
    <ion-title>cadastros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>{{text}}</p>

  <ion-button (click)="onChangerText()">
    ChangerText
  </ion-button>
</ion-content>
