<ion-header>
  <ion-toolbar>
    <ion-title>
    Are Home
  
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>



  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>

<firebase-ui></firebase-ui>


<h1 *ngIf="afAuth.auth.currentUser">
  
  Bem Vindo: {{afAuth.auth.currentUser.displayName}} !

</h1>

<!--<ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">-->
  <ion-chip *ngIf="afAuth.auth.currentUser" (click)="signOut()">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Sair</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
  <!--Sair
</ion-button>
-->

<ion-button (click)="about()">
  Sobre este App
</ion-button>
<ion-button (click)="go()">Go-router</ion-button>


</ion-content>
